.tether-element,.tether-element *,.tether-element :after,.tether-element :before,.tether-element:after,.tether-element:before{box-sizing:border-box}.tether-element{position:absolute;display:none}.tether-element.tether-open{display:block}
/*
     FILE ARCHIVED ON 00:51:23 Jan 02, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:54:56 Jun 05, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 9438.096
  exclusion.robots: 0.218
  exclusion.robots.policy: 0.212
  cdx.remote: 0.059
  esindex: 0.008
  LoadShardBlock: 61.56 (3)
  PetaboxLoader3.datanode: 82.198 (4)
  CDXLines.iter: 19.976 (3)
  load_resource: 51.13
  PetaboxLoader3.resolve: 25.463
*/
